<div class="sandbox-wrapper">
  <div class="sandbox-main-row">
    <aside class="sandbox-side-panel">
      <div class="sandbox-side-panel__title">Sandbox Tools</div>

      <button mat-raised-button class="sandbox-tool-button">Turn On Strong Interaction</button>
      <button mat-raised-button class="sandbox-tool-button">Turn On Weak Interaction</button>
      <button mat-raised-button class="sandbox-tool-button">Turn On Electromagnetic Interaction</button>
      <button mat-raised-button class="sandbox-tool-button">Turn On Gravitational Interaction</button>

      <div class="sandbox-control-block">
        <div class="sandbox-control-label">Magnetic Field (T)</div>
        <ngx-slider [(value)]="magneticFieldT" [options]="magneticFieldOptions"></ngx-slider>
        <div class="sandbox-control-value">{{ magneticFieldT | number:'1.1-1' }} T</div>
      </div>

      <div class="sandbox-control-block sandbox-control-block--model">
        <div class="sandbox-control-label">Detector Model</div>
        <mat-form-field appearance="outline" class="sandbox-model-select">
          <mat-select [(value)]="selectedDetectorModel">
            @for (model of detectorModelOptions; track model.label) {
              <mat-option [value]="model.value">{{ model.label }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </aside>

    <div class="sandbox-display-area" (dragover)="onDetectorDragOver($event)" (drop)="onDetectorDrop($event)">
      <button class="sandbox-close-button" mat-icon-button aria-label="Close Sandbox Mode" (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
      <app-event-display
        [sideViewsShown]="false"
        [backgroundColor]="BLACK_BACKGROUND"
        [showGridBackground]="true"
        [showControls]="false"
        [detectorShown]="true"
        [tracksShown]="true"
        [clustersShown]="false"
        [decaysShown]="true"
        [axesShown]="false"
        [landscape]="false"
        [hasClusters]="hasClusters"
        [detectorModel]="selectedDetectorModel"
        [detectorRphi]="data.detectorRphi"
        [detectorRhoz]="data.detectorRhoz"
        [event]="data.event"
        (trackClickedEvent)="onTrackClicked($event)"
      ></app-event-display>

      @for (item of placedAssets; track $index) {
        <div class="placed-asset" [style.left.px]="item.x" [style.top.px]="item.y" [title]="item.label">
          <span class="placed-asset__icon">{{ item.icon }}</span>
          <span class="placed-asset__label">{{ item.label }}</span>
        </div>
      }
    </div>
  </div>

  <div class="sandbox-bottom-bar"></div>
</div>

