<div fxFlex="grow">
  <div class="container" fxFlex="grow" fxLayoutGap="10px" fxLayout="column">
    <app-event-display
      [sideViewsShown]="true"
      [decaysShown]="true"

      [hasClusters]="event.clusters.length !== 0"
      [landscape]="(isLandscape$ | async)"
      [detectorModel]="ALICE_DETECTOR_MODEL"
      [detectorRphi]="ALICE_DETECTOR_RPHI"
      [detectorRhoz]="ALICE_DETECTOR_RHOZ"
      [event]="event"
      [previousEventButtonDisabled]="(eventID - 1) < 0"
      (previousEvent)="onPreviousEvent()"
      [nextEventButtonDisabled]="(eventID + 1) >= maxEvents"
      (nextEvent)="onNextEvent()"
      (trackClickedEvent)="onTrackClicked($event)"
      >
      <div class="dataset-controls">
        <mat-form-field appearance="outline" class="dataset-select">
          <mat-label>{{ 'SELECT_DATASET_DIALOG.DATASET' | translate }}</mat-label>
          <mat-select [value]="datasetID" (selectionChange)="onDatasetChange($event.value)">
            @if (dataService.VA_DATASET.hasDemo) {
              <mat-option [value]="-1">{{ 'SELECT_DATASET_DIALOG.DEMO' | translate }}</mat-option>
            }
            @for (ds of dataService.VA_DATASET.dataset; track ds) {
              <mat-option [value]="ds">
                <span [translate]="'SELECT_DATASET_DIALOG.DATASET_VAL'" [translateParams]="{dataset: ds - 1}"></span>
              </mat-option>
            }
            @if (dataService.VA_DATASET.hasFull) {
              <mat-option [value]="-2">{{ 'SELECT_DATASET_DIALOG.FULL_EVENT' | translate }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="warn" class="sandbox-button" (click)="onSandboxModeClicked()">
          Sandbox Mode
        </button>
      </div>
      <span>{{ 'EVENT_DISPLAY.EVENT' | translate }} {{ eventID }}</span>
      @if (isCurrentEventDone) {
        <mat-icon id="done">done</mat-icon>
      }
    </app-event-display>
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="10px">
      <app-calculator fxFlex="grow"
        [particlePos]="particlePos"
        [particleNeg]="particleNeg"
        [particleBac]="particleBac"
        (addToHistogramEvent)="onAddToHistogram($event)"
      ></app-calculator>
      <app-particle-mass fxFlex="grow"></app-particle-mass>
    </div>
    <app-mass-histograms [uploadDisabled]="uploadDisabledDatasets.includes(datasetID)" [results]="dataService.visualAnalysisResults" (uploadResultsEvent)="onUploadResults()"></app-mass-histograms>
  </div>
</div>
